{
    email you@example.com
}

yourdomain.com {
    encode zstd gzip
    @static path /static/* /media/* /manifest.webmanifest /sw.js /icons/* /assets/*
    handle @static {
        reverse_proxy app:8000
    }

    handle {
        reverse_proxy app:8000
    }

    log {
        output stdout
        format console
    }
}
