   {
    email admin@vendora.page
}

# App subdomain
app.vendora.page {
    encode zstd gzip
    @static path /static/* /media/* /manifest.webmanifest /sw.js /icons/* /assets/*
    handle @static {
        reverse_proxy app:8000
    }

    handle {
        reverse_proxy app:8000
    }

    # Explicit health passthrough
    handle_path /healthz* {
        reverse_proxy app:8000
    }

    log {
        output stdout
        format console
    }
}

# Optional: redirect root to app
vendora.page {
    @root path /*
    redir https://app.vendora.page{uri} permanent
}
